body{
	.wrapper{
		padding: 10px;
		.head{
			text-align: center;
			font-size: 20px;
		}
		.action{
			display: flex;
			justify-content: space-between;
		}
		.page_section{
			text-align: center;
			.pagination{
				li{
					.active{
						background: #f96028f5 !important;
						color: #fff !important;
					}
				}
			}
		}
	}
}