body .wrapper {
  padding: 10px;
}
body .wrapper .head {
  text-align: center;
  font-size: 20px;
}
body .wrapper .action {
  display: flex;
  justify-content: space-between;
}
body .wrapper .page_section {
  text-align: center;
}
body .wrapper .page_section .pagination li .active {
  background: #f96028f5 !important;
  color: #fff !important;
}
